@model Paneles_CFT.Models.Normativa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Normativa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloNormativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloNormativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionUrlNormativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionUrlNormativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNormativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNormativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionNormativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionNormativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComunaNormativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComunaNormativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitucionNormativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitucionNormativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacionNormativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacionNormativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioVigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioVigencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinVigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinVigencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoNormativa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
