@model IEnumerable<Paneles_CFT.Models.ProyectosNormativasMap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EsObligatoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoNormativaPsNsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProyectoPsNsNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EsObligatoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoNormativaPsNsNavigation.CodigoNormativa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProyectoPsNsNavigation.IdProyecto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProyectosNormativas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProyectosNormativas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProyectosNormativas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
