@model Paneles_CFT.Models.Instalador

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instalador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsernameInstalador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsernameInstalador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombresInstalador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombresInstalador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosInstalador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidosInstalador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionInstalador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionInstalador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoInstalador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoInstalador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoInstalador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoInstalador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContrasenaInstalador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContrasenaInstalador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolInstaladorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolInstaladorNavigation.IdRol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RunInstalador" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
