@model Paneles_CFT.Models.Proyecto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTerminoProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTerminoProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumenDatosProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumenDatosProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunClienteProyectoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunClienteProyectoNavigation.RunCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunInstaladorProyectoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunInstaladorProyectoNavigation.RunInstalador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProyecto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
